.btn {
    font-weight: bold;
	font-size: 16px;
	line-height: 1.25em;
	display: flex;
	letter-spacing: 0.06em;
	color: #ffffff;
	background: #2196F3;
	border: 1px solid transparent;
    border-radius: 4px;
	padding: 10px 32px;
	margin: auto;
	min-width: 200px;
}

.button-footer {
	border-radius: 4px;
	padding: 10px 10px 10px 29px;
	min-width: 200px;
	border: 0px;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	background-color:  #2196F3;
	color: #ffffff;
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
}

.button-icon {
	fill: white;
	vertical-align: middle;
	margin-left: 10px;
}
  
.footer-right button {
	margin-left: 12px;
}
  
.footer-right button:hover {
	cursor: pointer;
}
  
 

.btn-portfolio {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.08em;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
	background: #f5f4fa;
	border-radius: 4px;
	border: 0px;
	padding: 6px 22px;
	margin-right: 8px;
	height: 38px;
}

.btn-portfolio:nth-child(5n) {
	margin-right: 0px;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.08em;
	text-align: center;
	letter-spacing: 0.03em;
	color: #ffffff;
	background: #2196f3;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
}
